html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.container, #app {
  height: 100%;
  width: 100%;
}

.header {
  color: white;
  background: #FC6C43;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.homeContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeContainer h1 {
  color: white;
  font-weight: 100;
  font-size: 45px;
}

.search-menu {
  padding: 10px;
}
.homeContainer .search-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid transparent;
}

.submit {
  margin: 10px;
  background: #5CB85C;
  border-radius: 4px;
  color: white;
  white-space: nowrap;
  border: 1px solid #4cae4c;
  padding: 6px 12px;
  font-size: 14px;
}
